<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!--Estilos-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <!--Fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="Superior">
            <img src="images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
            <div class="contenedor-de-barra">
                <imput type="text" class="Barra" placeholder="Buscar..." name="search"><button
                        type="submit">Buscar...</button></imput><i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="hiddenMobile">
            <ul type="none" class="IntermedioP1">
                <li><a class="enlaces" href="#">Ofertas</a></li>
                <li><a class="enlaces" href="#">Tiendas Oficiales</a></li>
                <li><a class="enlaces" href="#">Vender</a></li>
                <li><a class="enlaces" href="#">Ayuda</a></li>
            </ul>
            <ul type="none" class="IntermedioP2">
                <li><a class="enlaces" href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a class="enlaces" href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a class="enlaces" href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <div class="hidden">
            <div class="burguerContenedor"><i class="fas fa-bars"></i></div>
        </div>

    </header>
    </section>
    <main>
        <div>
            <img src="/images/img-home-banner.jpg" width="100%" alt="Home banner">
        </div>
        <section class="contenedor01">
            <h3> Basado en tu ultima visita</h3>

            <article class="contenedormini">
                <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="cafetera" class="productos">
                <p><i class="fa-solid fa-truck"></i></p>
                <div class="hiddenMobile">
                    <h4 class="precio">$6.770</h4>
                    <p class="descuento">40% off</p> 
                </div>
                <h4 class="nombreProd">Cafetera Moulinex</h4>
            </article>

            <article class="contenedormini">
                <img src="images/img-macbook-pro-2019.jpg" width="100%" alt="MacBook" class="productos">
                <i class="fa-solid fa-truck"></i>
                <div class="hiddenMobile">
                    <h4 class="precio">$230.000</h4>
                    <p class="descuento">20% off</p>
                </div>
                <h4 class="nombreProd">MacBook Pro 2019</h4>
            </article>

            <article class="contenedormini">
                <img src="images/img-samsung-galaxy-s10.jpg" width="100%" alt="Teléfono Movil Samsung Galaxy"
                    class="productos">
                <i class="fa-solid fa-truck"></i>
                <div class="hiddenMobile">
                    <h4 class="precio">$70.500</h4>
                    <p class="descuento">10% off</p>
                </div>    
                <h4 class="nombreProd">Teléfono móvil Samsung Galaxy S10</h4>
            </article>

            <article class="contenedormini">
                <img src="images/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv Samsung" class="productos">
                <i class="fa-solid fa-truck"></i>
                <div class="hiddenMobile">
                    <h4 class="precio">$23.200</h4>
                    <p class="descuento">5% off</p>   
                </div>
                <h4 class="nombreProd">SmartTv Samsung 43"</h4>
            </article>

        </section>

        <section class="contenedor02">
            <h3>Ofertas</h3>

            <article class="contenedormini">
                <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="Cafetera" class="productos">
                <i class="fa-solid fa-truck"></i>
                <div class="hiddenMobile">
                    <h4 class="precio">$6.770</h4>
                    <p class="descuento">40% off</p>
                </div>    
                <h4 class="nombreProd">Cafetera Moulinex</h4>
                
            </article>

            <article class="contenedormini">
                <img src="images/img-macbook-pro-2019.jpg" width="100%" alt="MacBook" class="productos">
                <i class="fa-solid fa-truck"></i>
                <div class="hiddenMobile">
                    <h4 class="precio">$230.000</h4>
                    <p class="descuento">20% off</p>
                </div>    
                <h4 class="nombreProd">MacBook Pro 2019</h4>
            </article>

            <article class="contenedormini">
                <img src="images/img-samsung-galaxy-s10.jpg" width="100%" alt="Teléfono Movil Samsung Galaxy"
                    class="productos">
                <i class="fa-solid fa-truck"></i>
                <div class="hiddenMobile">
                    <h4 class="precio">$70.500</h4>
                    <p class="descuento">10% off</p>
                </div>    
                <h4 class="nombreProd">Teléfono móvil Samsung Galaxy S10</h4>
            </article>

            <article class="contenedormini">
                <img src="images/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv Samsung" class="productos">
                <i class="fa-solid fa-truck"></i>
                <div class="hiddenMobile">
                    <h4 class="precio">$23.200</h4>
                    <p class="descuento">5% off</p>
                </div>
                <h4 class="nombreProd">SmartTv Samsung 43"</h4>
                
            </article>

        </section>
    </main>

    <footer>
        <section class="foot">

            <h2><i class="fa-solid fa-credit-card"></i></h2>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <P>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</P>

            <h2><i class="fa-solid fa-gift"></i></h2>
            <h3>Envío gratis desde $2500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>

            <h2><i class="fa-solid fa-user-shield"></i></h2>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@</p>

            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>

</html>