<!DOCTYPE html>
<html lang="en">

<head>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <!--Estilos-->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/home.css">
        <!--Fuentes-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <!--Iconos-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

<body>
    <header>
        <div class="Superior">
            <img src="images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
            <div class="contenedor-de-barra">
                <imput type="text" class="Barra" placeholder="Buscar..." name="search"><button
                        type="submit">Buscar...</button></imput><i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="hiddenMobile">
            <ul type="none" class="IntermedioP1">
                <li><a class="enlaces" href="#">Ofertas</a></li>
                <li><a class="enlaces" href="#">Tiendas Oficiales</a></li>
                <li><a class="enlaces" href="#">Vender</a></li>
                <li><a class="enlaces" href="#">Ayuda</a></li>
            </ul>
            <ul type="none" class="IntermedioP2">
                <li><a class="enlaces" href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a class="enlaces" href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a class="enlaces" href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <div class="hidden">
            <div class="burguerContenedor"><i class="fas fa-bars"></i></div>
        </div>
        </head>

        <body>
            <main class="formRegister">
                <div class="register-container">
                    <form action="/register" method="POST">
                        <div class="formControl"><input type="text" name="nombre" placeholder="Nombre completo"></div>>
                        <div class="formControl"></div><input type="text" name="usuario" placeholder="Usuario">
                </div>
                <div class="formControl"></div><input type="email" name="email" placeholder="Correo electronico"></div>
                <div class="formControl"></div>
                <h5>Fecha de Nacimiento</h5>
                <div class="formControl"></div><input type="date" id="fechadenacimiento" name="fechadenacimiento"></div>
                <div class="formControl"></div><input type="text" name="domicilio" placeholder="Domicilio"></div>
                <div class="formControl"></div>
                <h5>Perfil del Usuario</h5>
                </div>
                <div class="contenedor-radio">
                    <div class="formControl"></div><label for="Comprador">Comprador</label>
                    <input type="radio" name="perfil-de-usuario" id="Comprador">
                    <div class="formControl"><label for="Comprador">Vendedor</label>
                        <input type="radio" name="perfil-de-usuario" value="Vendedor">
                    </div>
                </div>
                <h5>Intereses</h5>
                <div class="contenedor-checkbox">
                    <label for="Electro"><input type="checkbox" name="hobbies" value="Electro"> Electro</label>
                    <label for="Moda"><input type="checkbox" name="hobbies" value="Moda">Moda</label>
                    <label for="Hogar"><input type="checkbox" name="hobbies" value="Hogar">Hogar</label>
                    <label for="Jugueteria"><input type="checkbox" name="hobbies" value="Jugueteria">Jugueteria</label>
                    <label for="Vida Sana"><input type="checkbox" name="hobbies" value="Vida Sana">Vida Sana</label>

                </div>
                <button type="reset">Borrar</button>
                <button type="submit">Enviar</button>
                </form>
                </div>
            </main>
        </body>

</html>